
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans- font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}

*{
    margin: 0;
    padding: 0;
}

/* share the style */

.display-flex{
    display: flex;
}

.primary-btn{

    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 1.3rem;
    font-weight: 600px;
    color: white;
    margin: 50px 0;
    border-radius: 5px;
    border: none;
}



/* Share the color */

.dark-2{
     color: #424242;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* responsive */

@media screen and (max-width:576px) {

    .navbar,
    .nav-item{
        flex-direction: column;
    }

    .quick-list{
        flex-direction: column;
    }

    .quick-list-img{
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    .quick-list-content{
    
        margin-left: 130px;
    }

    .fact-card-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    
    
}

/*--- header the stye *---/


/* navber style */

.navbar{
      justify-content: space-between;
}

.navbar h2{
    font-size: 3rem;
    font-weight: 700;
}

.navber-link{
    align-items: center;
    
}

.nav-item{
    list-style-type: none;
    margin-left: 35px;
}

.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

.navbar, .banner{
    max-width: 1200px;
    margin: 0 auto;
}
/* banner style */
.banner{
    text-align: center;
    ;

    margin-top: 120px;
}

.banner-content{
    max-width: 800px;
    margin: 0 auto
}

.banner h1{
    font-size: 4rem;
    font-weight: 600px;
}

.banner-img{
    width: 100%;
}



/* main section */

main{
   max-width: 1200px;
    margin: 0 auto;
}

main>section{
    margin-top: 150px;
}

/* quick list section */

.quick-list{
    display: flex;
    align-items: center;
    gap:5px
}

.quick-list-content{
    max-width: 500px;
    margin-left: 40px;
}

.quick-list-img{
    max-width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.quick-list-content h3{

    font-size: 45px;
    
}

span{
    color: #FF900E;
}


/* some section */


.some-fact-content{
    margin-bottom: 120px;
}

.some-fact-content h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.some-card-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   text-align: center;
}

.fact-card-content{
    width: 240px;
    height: 240px;
    border: 2px solid #FF900E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-num{
    font-size: 45px;
    font-weight: 500;
}

.card-para{
    font-size: 20px;
    font-weight: 300;
    color: #727272;
}

/* Sponsor section */
.our-sponsor{
   
     margin-top: 150px;
     text-align: center;

}
.our-sponsor-content{
    width: 540px;
    margin-top: 150px;
    margin: 0 auto;
   
}

.our-sponsor-content h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.our-sponsor-content p{
    margin-top: 20px;
    text-align: justify;
    color: #727272;
}

.sponsor-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.sponsor-img img{
    width: 165px;
    height: 50px;
}


/* footer */



.footer-container{
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1200px;
    height: 100px;
    background-color: #FFF4E7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    margin-bottom: 210px;
   
}
